[Unit]
Description=Quiz.Authorization app

[Service]
WorkingDirectory=/root/Quiz.Authorization.Builded/Quiz.Authorization/bin/Release/netcoreapp3.1
ExecStart=/usr/bin/dotnet /root/Quiz.Authorization.Builded/Quiz.Authorization/bin/Release/netcoreapp3.1/Quiz.Authorization.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=SocialNetwork
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target